@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos Generales */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* Estilos del nav*/

header {
    background-color: transparent;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    padding: 0.5rem 0 0.5rem 0;
}

nav img {
    height: 2rem;
}   

nav .nav-link,
p {
    color: white;
    font-size: 1rem;
}

/*Estilos del carousel*/

/*Estilos Section2 aboutUs*/

.aboutUs {
    background-color: #191919;
    color: white;
    padding: 70px 0 70px 0;
}

.aboutUs .icono {
    background-color: #39BDDE;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.aboutUs h1 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

/*Estilos Section3 Destacados*/

.destacados {
    background:#191919;
    color: white;
    padding: 30px 0 70px 0;
}

.destacados .card {
    --bs-card-border-width: none;
}

.card-body {
    background-color: #39BDDE;
    border-bottom: 10px;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.destacados h2 {
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

/*Estilos seccion4 Contacto*/

.contacto {
    background:#191919;
    color: white;
    padding: 30px 0 70px 0;
}

.contacto h2 {
    font-weight: 700;
    color: white;
    font-size: 2rem;
}

.contacto .btn {
    background-color:#39BDDE ;
    color: white;
    padding: 8px 24px 8px 24px;
}

.contacto .btn:hover {
    background-color: #1f86a0;
}

/*Estilos Footer*/

footer {
    background:#39BDDE;
    color: white;
    padding: 20px 0 20px 0;
}

footer i {
    font-size: 1.7rem;
}

footer a {
    color: white;
}

/*Estilos modal*/
.modal {
    color: #191919;
}